name: release

on:
  push:
    tags:
      - 'v*' 

jobs:
  build-and-release:
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # for manual trigger
          ref: ${{ inputs.ref != '' && inputs.ref || github.ref_name }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prebuild devcontainer
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer-${{ matrix.arch }}
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer-${{ matrix.arch }}
          push: always

      - name: Build in Dev Container
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ github.repository }}/devcontainer-${{ matrix.arch }}
          cacheFrom: ghcr.io/${{ github.repository }}/devcontainer-${{ matrix.arch }}
          push: never
          runCmd: |
            bash -lc '
              cargo build --release
              cp target/release/sarusctl "target/release/sarusctl-${{ matrix.arch }}"
              ls -lah target/release/
            '

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          artifacts: "target/release/sarusctl-*"
          allowUpdates: true
          replacesArtifacts: false
          draft: false
          prerelease: false
